.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Add this CSS to your stylesheet or in a style block */
.date-container {
  background-color: white; /* You can change the background color */
  color: white; /* Text color */
  border-radius: 8px; /* Adjust this value to change the border radius */
  padding: 10px; /* Adjust padding as needed */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px; /* Adjust the width to make it square */
  text-align: center;
}


.user-profile-descriptions {
  flex: 1; /* Allow the div to expand and fill the remaining vertical space */
  padding: 20px; /* Add padding as needed */
  background-color: white; /* Add a background color for visualization */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
